{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="is-size-3">
                    Admin Interface
                </div>

                <div class="is-size-5">
		    <hr>
                    Find Student
                    <form action="home">
                        <div class="field has-addons">
                            <div class="control">
                                <input name="roll" class="input is-primary" type="text" placeholder="Enter Roll Number">
                            </div>
                            <div class="control">
                                <button class="button is-primary">Go</button>
                            </div>
                        </div>
                    </form>

		    <hr>
                    <form method="POST" action="admin">
                        Download Section Payment Data
                        <div class="field has-addons">
                            <div class="control">
                              <div class="select is-primary">
                                <select name="section_id">
                                    {% for admin in admins %}
                                    <option value="{{ admin.getSection().getId() }}" >
                                        {{ admin.getSection().getDisplayName() }}
                                    </option>
                                    {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="control">
                                <button class="button is-primary">Go</button>
                            </div>
                        </div>

                        <input name="action" hidden value="section_data" />
                    </form>

		    <hr>
                    <form method="POST" action="admin">
                        <input class="button is-primary" type="submit" value="Download Master Sheet" />
                        <input name="action" hidden value="master" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
