{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                {% if total > 0 %}
                <div class="is-size-3">
                    Pending dues for {{ roll }} <br/>
                </div>

                <div class="is-size-5" style="margin: 20px 0">
                {% for due in dues %}
                    <b>{{ due.getSection().getDisplayName() }}:
                        <span class="has-text-danger">INR {{ due.getAmount() }} </span>
                    </b>
                    <br/>
                {% endfor %}
                </div>

                <div class="is-size-4">
                    Total to be paid: INR {{ total }}
                </div>
                {% else %}
                <div class="is-size-3">
                    No pending dues for {{ roll }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
