{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                {% if total > 0 %}
                <div class="is-size-3">
                    Pending dues for {{ roll }} <br/> ({{ name }})
                </div>

                <div class="is-size-5" style="margin: 20px 0">
                {% for due in dues %}
                    {% if due.getAmount() > 0 %}
                    <b>{{ due.getSection().getDisplayName() }}:
                        <span class="has-text-danger">INR {{ due.getAmount() }} </span>
                    </b>
                    <br/>
                    {% endif %}
                {% endfor %}
                </div>

                <div class="is-size-4">
                    Total to be paid: INR {{ total }}
                </div>
                {% else %}
                <div class="is-size-3">
                    No pending dues for {{ roll }} <br/> ({{ name }})
                </div>
                {% endif %}

                {% if payments|length > 0 %}
                <hr/>
                <div class="is-size-3">
                    Payments Registered
                </div>

                <div class="is-size-5" style="margin-top: 10px">
                    {% for payment in payments %}
                        <b>{{ payment.getSection().getDisplayName() }}:
                            <span class="has-text-success">INR {{ payment.getAmount() }} </span>
                        </b>
                        {% if payment.getTransactionId() %}
                            ({{ payment.getTransactionId() }})
                        {% endif %}

                        {% if is_admin %}
                            <form method="POST" action="admin" style="display: inline">
                                <input name="id" hidden value="{{ payment.getId() }}" />
                                <input name="next" hidden value="{{ url }}" />
                                <input name="action" hidden value="unpay" />
                                <button class="button is-small is-danger">x</button>
                            </form>
                        {% endif %}

                        <br/>
                    {% endfor %}
                </div>
                {% endif %}

                {% if is_admin %}
                <hr/>
                <div class="is-size-3">
                    </a>Admin Interface
                </div>

                <div class="is-size-4">
                    <a class="button is-primary" href="admin"> Open Main Admin Interface </a>
                </div>

                <hr/>
                <div class="is-size-4">
                    Register Payment
                </div>

                <form method="POST" action="admin" style="margin-top: 10px;">
                    <div class="field">
                        <div class="control">
                          <div class="select is-primary">
                            <select name="section_id">
                                {% for admin in admins %}
                                <option value="{{ admin.getSection().getId() }}" >
                                    {{ admin.getSection().getDisplayName() }}
                                </option>
                                {% endfor %}
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="amount" class="input" type="text" placeholder="Amount">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="tid" class="input" type="text" placeholder="Transaction ID (optional)">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="comments" class="input" type="text" placeholder="Comments (optional, not shown to student)">
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary">Register</button>
                    </div>

                    <input name="action" hidden value="pay" />
                    <input name="roll" hidden value="{{ roll }}" />
                    <input name="next" hidden value="{{ url }}" />
                </form>

                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
